<% include ../partials/header %>

<div class="well">

  <h1 class="text-center"><%= poll.name %></h1>

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="well">
        <h3>Cast Your Vote:</h3>
        <form action="/polls/<%= poll._id %>?_method=PUT" method="POST">
          <% if (poll.options.length > 0) { poll.options.forEach(function(option) { %>
            <div>
              <div class="radio form-group">
                <label><input type="radio" name="radioButton" value="<%= option._id %>"><h4><%= option.optionName %></h4>
                </label>
              </div>
            </div>
          <% }); } else { %>
            <p>No choices available.</p>
          <% } %>
          <div class='form-group'>
              <input type="submit" value="Vote" class='form-control btn btn-default'/>
          </div>
        </form>          
      </div>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class='well well-sm'>
          <canvas id="myChart" width="100" height="100"></canvas>
          <script>
              var ctx = document.getElementById("myChart");
              var data = [];
              var labels = [];
              var backgroundColor = [];
              <% poll.options.forEach(function(option) { %>
                  labels.push('<%= option.optionName %>');
                  data.push('<%= option.votes %>');
                  backgroundColor.push(randomColor({hue: 'blue', luminosoity: 'dark'}));
              <% }) %>
              Chart.defaults.global.legend.position = 'left';
              Chart.defaults.global.legend.labels.fontColor = '#000000'
              var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                      labels: labels,
                      datasets: [{
                          label: '<%= poll.name %>',
                          data: data,
                          backgroundColor: backgroundColor,
                          borderWidth: 2
                      }]
                  },
                  options: {
                  }
              });
          </script>
      </div>
    </div>

  </div>    

</div>

<div class='text-center'>
  <a href='/' class='btn' role='button'>Back to Homepage</a>
</div>


<% include ../partials/footer %>
